<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0 " />
  </head>

  <body>
    <p>
      Hello {% if user.first_name %}{{ user.first_name | capfirst }}{% else %}{{ user.username }}{% endif %}, </p>
    <p>
      Activate your account by clicking the button.
    </p>
    <div>
      <a href="http://{{ activation_link }}">Activate your account</a>
    </div>
  </body>
</html>
