{% extends "base.html" %}
{% load static %}

{% block custom_css %}
<link rel="stylesheet" href="{% static 'css/login/styles.css' %}" />
{% endblock custom_css %}

{% block content-main %}

<!--  TODO: move alert to top of page -->
{% if form.errors %}
    <div class="alert alert-danger fade show">
  <p>Invalid username and/or password. Please try again.</p>
  </div>
{% endif %}

  {% if next %}
    {% if user.is_authenticated %}
    <div class="alert alert-danger fade show">
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
    </div>
    {% else %}
    <div class="alert alert-danger fade show">
      <p>Please login to see this page.</p>
    </div>
    {% endif %}
  {% endif %}

<div class="center">
  <form id="login-form" class="center-login" method="post" action="{% url 'users:login' %}">
    {% csrf_token %}
    <div class="form-row">
      {{ form.username }}
    </div>
    <div class="form-row">
      {{ form.password }}
    </div>
    <div class="form-row">
      <input class="btn btn-raised" type="submit" value="login">
    </div>
    <input type="hidden" name="next" value="{{ next }}">
    <div class="form-row">
      <small><a href="{% url 'users:register' %}">Create Account</a></small>
    </div>
    <div class="form-row">
      <small><a href="{% url 'users:password_reset' %}">Forgot password?</a></small>
    </div>
  </form>
</div>

{# Assumes you setup the password_reset view in your URLconf #}
{% endblock %}

{% block custom_js %}
<script>
  $(document).ready(function () {
      $('#id_username').trigger('focus')
  });
  $('#id_username').disableAutoFill();
</script>
{% endblock %}
