{% extends "base.html" %}
{% load i18n static %}

{% block custom_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/registration/styles.css' %}">
{% endblock %}

{% block title %}{{ title }}{% endblock %}
{% block content-main_title %}<h1>{{ title }}</h1>{% endblock %}

{% block content-main %}

{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
              <strong>{{ error |escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}

<form id="password_change_form" class="custom-validation" method="post" novalidate>
{% csrf_token %}

  <fieldset class="form-fields">
  <div class="form-group">
    <label for="id_old_password" class="control-label bmd-label-static">{{ form.old_password.label }}</label>
    {{ form.old_password }}
    <div class="invalid-feedback">
      {{ form.old_password.label }} is required
    </div>
  </div>

  <div class="form-group">
    <label for="id_new_password1" class="control-label bmd-label-static">{{ form.new_password1.label }}</label>
    {{ form.new_password1 }}
    <div class="invalid-feedback">
      {{ form.new_password1.label }} is required
    </div>
  </div>

  <div class="form-group">
    <label for="id_new_password2" class="control-label bmd-label-static">Confirm Password</label>
    {{ form.new_password2 }}
    <div class="invalid-feedback">
      Password confirmation is required
    </div>
  </div>


  </fieldset>
  <div class="submit-row">
      <a href="{% url 'users:account-update'%}" class="btn btn-secondary">Cancel</a>
      <input id="change-password-button" class="btn btn-raised btn-secondary" type="submit" value="{% trans 'Change Password' %}" class="default">
  </div>

</form>

{% endblock %}
