{% extends "base.html" %}
{% load i18n static %}

{% block custom_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/registration/styles.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/base/styles.css' %}">
{% endblock %}

{% block title %}{{ title }}{% endblock %}
{% block content-main_title %}<h1>{{ title }}</h1>{% endblock %}
{% block content-main %}

{% if validlink %}

<div id="reset_password_confirm_header">
  <h5>Reset Your Password</h5>
<p>{% trans "Go ahead and set your new password below." %}</p>
</div>

<form id="set_password_form" class="custom-validation" method="post" novalidate>
  {% csrf_token %}
  <div class="form-row">
    <div class="form-group col-12">
      <label for="id_new_password1">{% trans 'New password:' %}</label>
      {{ form.new_password1 }}
      {{ form.new_password1.errors }}
      <div class="invalid-feedback">
        Password is required
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-12">
      <label for="id_new_password2">{% trans 'Confirm password:' %}</label>
      {{ form.new_password2 }}
      {{ form.new_password2.errors }}
      <div class="invalid-feedback">
        Password is required
      </div>
    </div>
  </div>
  <input class="ml-auto btn btn-raised btn-primary" type="submit" value="{% trans 'Change password' %}">
</form>

{% else %}

<p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

{% endif %}

{% endblock %}
