{% extends "base.html" %}
{% load i18n static %}

{% block custom_css %}
<link rel="stylesheet" type="text/css" href="{% static 'users/styles.css' %}">
{% endblock %}

{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}

{% block content %}


<form id="password-change-form" class="custom-validation" method="post" novalidate>
{% csrf_token %}

  <fieldset class="form-fields">
  <div class="form-group">
    <label for="id_old_password" class="control-label bmd-label-static">{{ form.old_password.label }}</label>
    {{ form.old_password }}
    <li>{{ form.old_password.errors }}</li>
    <div class="invalid-feedback">
      Required
    </div>
  </div>

  <div class="form-group">
    <label for="id_new_password1" class="control-label bmd-label-static">{{ form.new_password1.label }}</label>
       {{ form.new_password1 }}
  {{ form.new_password1.errors }}
    <div class="invalid-feedback">
      Required
    </div>
  </div>

  <div class="form-group">
    <label for="id_new_password2" class="control-label bmd-label-static">{{ form.new_password2.label }}</label>
       {{ form.new_password2 }}
  {{ form.new_password2.errors }}
    <div class="invalid-feedback">
      Required
    </div>
  </div>
  </fieldset>


  <div class="submit-row">
      <input type="submit" value="{% trans 'Change Password' %}" class="default">
  </div>

</form>

{% endblock %}
