{% load static %}


<div class="media-upload spacer">
  <hr/>
  <div class="custom-file col-11">
    {% if upload_form.instance.media %}
      {{ upload_form.id }}
      Current:
      <a href="{{ upload_form.instance.media.url }}">
        {{ upload_form.instance.filename }}
      </a>
    {% endif %}
    {{ upload_form.media }}
  </div>
    {% if not upload_form.instance.id %}
    <a href="javascript:void(0)" class="ml-auto add-media-upload">
    </a>
    {% endif %}
  <div class="bmd-form-group input-group flex-column">
    <div class="col-12 col-xl-6 col-lg-8">
    {% if 'development' in request.path %}
      {{ upload_form.development_type }}
    {% elif 'outcome' in request.path %}
      {{ upload_form.outcome_type }}
    {% endif %}
    </div>
    <div class="invalid-feedback">
      Select a file type
    </div>
  </div>
  <ul class="media-listing"></ul>
</div>
