{% load static %}


<div class="media-upload spacer{% if upload_form.instance.id >= 0 %} has-instance{% endif %}">
  <div class="custom-file col-xl-6 col-12">
    {% if upload_form.instance.media and upload_form.instance.id %}
      {{ upload_form.id }}
    {% endif %}
    {{ upload_form.media }}
  </div>
  <div class="outcomemedia-type col-xl-4 col-sm-7 col-10">
    {% if 'development' in request.path %}
      {{ upload_form.development_type }}
    {% elif 'outcome' in request.path %}
      {{ upload_form.outcome_type }}
    {% endif %}
    </div>
    <div class="invalid-feedback">
      Select a file type
  </div>
  {% if not upload_form.instance.id %}
  <a href="javascript:void(0)" class="col-2 text-right add-media-upload"></a>
  {% else %}
  <div class="col-2 text-right">{{ upload_form.DELETE }}</div>
  {% endif %}
</div>
