option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: config/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  aws:elasticbeanstalk:container:python:staticfiles:
    /static/: www/static/


container_commands:
  collectstatic:
    command: "source /opt/python/run/venv/bin/activate && django-admin.py collectstatic --no-input"
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate && django-admin.py migrate --no-input"
    leader_only: true
  02_createsuperuser:
    command: "source /opt/python/run/venv/bin/activate && django-admin.py loaddata users/superuser.json courses/courses.json"
    leader_only: true
  03_install_s3file:
    command: "git clone https://github.com/aaronenberg/django-s3file.git /usr/local/lib/python3.6/django-s3file && cp -R /usr/local/lib/python3.6/django-s3file/s3file/ /opt/python/run/venv/lib/python3.6/site-packages || cd /usr/local/lib/python3.6/django-s3file/ && git pull && rm -rf /opt/python/run/venv/lib/python3.6/site-packages/s3file/ && cp -R /usr/local/lib/python3.6/django-s3file/s3file/ /opt/python/run/venv/lib/python3.6/site-packages/"
    leader_only: true
