option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: config/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  aws:elasticbeanstalk:container:python:staticfiles:
    /static/: www/static/


container_commands:
  01_install_s3file:
    command: "rm -rf /usr/local/lib/python3.6/django-s3file && git clone https://github.com/aaronenberg/django-s3file.git /usr/local/lib/python3.6/django-s3file && cp -R /usr/local/lib/python3.6/django-s3file/s3file/ /opt/python/run/venv/lib/python3.6/site-packages/"
    leader_only: true
  02_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && django-admin.py collectstatic --no-input"
  03_migrate:
    command: "source /opt/python/run/venv/bin/activate && django-admin.py migrate --no-input"
    leader_only: true
  04_createsuperuser:
    command: "source /opt/python/run/venv/bin/activate && django-admin.py loaddata users/superuser.json courses/courses.json"
    leader_only: true
