container_commands:
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate && django-admin.py migrate outcomes --no-input"
    leader_only: true
option_settings:
  aws:elasticbeanstalk:application:environment
    PYTHONPATH: "/opt/python/current/app:/opt/python/current/app/sirius:$PYTHONPATH"
    DJANGO_SETTINGS_MODULE: config.settings.prod
