option_settings:
  aws:elasticbeanstalk:application:environment:
    DB_CONFIG: /tmp/beanstalk-database.json
    EMAIL_CONFIG: /tmp/email.json
    PATHS_CONFIG: /tmp/paths.json
    SECRETS: /tmp/secrets.json

Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Auth:
          type: "s3"
          buckets: ["sirius-bucket1"]
          roleName: "aws-elasticbeanstalk-ec2-role"

files:
  "/tmp/beanstalk-database.json" :
    mode: "000644"
    owner: root
    group: root
    authentication: "S3Auth"
    source: https://s3-us-west-1.amazonaws.com/sirius-bucket1/beanstalk-database.json
  "/tmp/email.json" :
    mode: "000644"
    owner: root
    group: root
    authentication: "S3Auth"
    source: https://s3-us-west-1.amazonaws.com/sirius-bucket1/email.json
  "/tmp/paths.json" :
    mode: "000644"
    owner: root
    group: root
    authentication: "S3Auth"
    source: https://s3-us-west-1.amazonaws.com/sirius-bucket1/paths.json
  "/tmp/secrets.json" :
    mode: "000644"
    owner: root
    group: root
    authentication: "S3Auth"
    source: https://s3-us-west-1.amazonaws.com/sirius-bucket1/secrets.json
