@media screen and (-webkit-min-device-pixel-ratio:0) {
    .select-fix-height {
        height: 33px !important;
        line-height: 33px !important;
        padding-bottom: 0;
        padding-top: 0;
    }
}
@-moz-document url-prefix() {
    .select-fix-height {
        height: 31px !important;
        padding-bottom: 0px;
        padding-top: 0;
    }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .select-fix-height {
        height: 36px !important;
        line-height: 36px !important;
    }
}

#article-media-forms {
    overflow-y: auto;
    border: solid;
    border-color: rgb(100,180,180);
    border-width: .15rem;
    background-color: rgba(18,85,74, 0.1);
    padding-left:10px;
    overflow-y: auto;
    height:20vh;
    max-height:20vh;
    margin-bottom: 0.3rem;
}

@media (min-width:1200px) {
    form#article-form {
        width:45%;
        height:100%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 576px) and (max-width: 1199.98px) {
    form#article-form {
        margin-left: 15%;
        margin-right: 15%;
    }
}

@media (max-width: 576px) {
    form#article-form {
        max-height: 75vh;
    }
}
input-group>.custom-file-control:not(:first-child), .input-group>.custom-select:not(:first-child), .input-group>.form-control:not(:first-child) {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}
