{% extends "base.html" %}
{% load static %}

{% block custom_css %}
<link rel="stylesheet" type="text/css" href="{% static 'developments/styles.css' %}">
{% endblock custom_css %}

{% block title %}
  Create Development | SIRIUS
{% endblock title %}

{% block content-main %}

{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
              <strong>Error on field "{{ field.label |capfirst }}": {{ error |escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}

{% if developmentmedia_form.errors %}
    {% for error in developmentmedia_form.non_form_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}

<form 
  id="development-form" 
  class="custom-validation"
  method="post"
  enctype="multipart/form-data"
  novalidate>
  {% csrf_token %}

  <div class="form-row">
    <div class="form-group bmd-form-group col-12">
      <label for="development_title" class="control-label bmd-label-static">{{form.title.label}}</label>
      {{ form.title }}
      <div class="invalid-feedback">
        Enter a title
      </div>
    </div>
  </div>

  <div class="form-row justify-content-between">
    <div class="form-group bmd-form-group col-12 col-lg-9">
      <label for="development_semester" class="bmd-label-static">{{ form.semester.label }}</label>
        {{ form.semester }}
    </div>
    <div class="form-group bmd-form-group col-12 col-lg-2">
      <label for="development_year" class="bmd-label-static">{{ form.year.label }}</label>
      {{ form.year }}
    </div>
  </div>

  <div class="form-row">
    <div class="form-group bmd-form-group col-12">
      <label for="development_description" class="bmd-label-static">{{ form.description.label }}</label>
      {{ form.description }}
    </div>
  </div>

  {{ developmentmedia_form.management_form }}

  <div id="development-media-forms-row">
    <div id="development-media-forms">
      {% for upload_form in developmentmedia_form %}
      <div class="form-group bmd-form-group media-upload spacer">
        <hr/>
        <div class="custom-file col-11">
          {% if upload_form.instance.media %}
            {{ upload_form.id }}
            <a href="{{ upload_form.instance.media.url }}">
              {{ upload_form.instance.filename }}
            </a>
          {% endif %}
          {{ upload_form.media }}
        </div>
        <div class="input-group row col-11 col-sm-12 col-xl-6 col-lg-8">
          {% if not upload_form.instance.id %}
          <button class="btn btn-success add-media-upload">+</button>
          {% endif %}
          {{ upload_form.development_type }}
          <div class="invalid-feedback">
            Select a file type
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  <div class="submit-row">
    <div class="mr-auto">
      {% block back_navigate %}
      <a class="btn" href="{% url 'developments:development-list' %}">Cancel</a>
      {% endblock back_navigate %}
    </div>
    {% block save_draft%}
    <input type="Submit" class="btn btn-danger" value="Save Draft" name="_save_draft">
    {% endblock save_draft %}
    <input type="Submit" class="btn btn-raised btn-primary" value="Post">
  </div>
</form>

{% endblock content-main %}

{% block custom_js %}
<script src="{% static 'js/developmentmedia-formset-management.js'%}" type='text/javascript'></script>
<script>$('#development_title').disableAutoFill();</script>
{% endblock custom_js %}
