@media screen and (-webkit-min-device-pixel-ratio:0) {
    .select-fix-height {
        height: 33px !important;
        line-height: 33px !important;
        padding-bottom: 0;
        padding-top: 0;
    }
}
@-moz-document url-prefix() {
    .select-fix-height {
        height: 31px !important;
        padding-bottom: 0px;
        padding-top: 0;
    }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .select-fix-height {
        height: 36px !important;
        line-height: 36px !important;
    }
}

#course_list {
    width: 100%;
    padding-bottom: 1rem;
}

#subject_list {
    flex-direction: row;
    flex-grow: 0;
}
#subject_list .list-group-item-action:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
#subject_list .list-group-item-action:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
#subject_list .list-group-item-action {
    border-radius: 0;
}
#subject_list .list-group-item-action:hover {
    color: white;
    text-decoration: underline;
}
.list-group-item-action:first-child,
.list-group-item-action:last-child,
.list-group-item-action,
.list-group-item-action.active:first-child,
.list-group-item-action.active:last-child,
.list-group-item-action.active {
    min-height: 5vh;
    text-align: center;
    border-width: 1px;
}

#subject_list .list-group-item-action.active:first-child,
#subject_list .list-group-item-action.active:last-child,
#subject_list .list-group-item-action.active {
    border-color: black;
    text-decoration: underline;
}

#id_course_outcomes {
    display:grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 40% 60%;
    grid-template-areas:
        "outcomes outcome_description"
        "outcomes outcome_media";
    height: 40vh;
    background-color: whitesmoke;
    border: 2px solid #0f5e7f;
    border-radius: 5px;
}

#id_outcomes {
    grid-area: outcomes;
    border-right: 2px solid #0f5e7f;
    overflow-y: auto;
    flex-wrap: nowrap;
}

#id_outcomes .btn-secondary .nav-link {
    color: white;

}

#id_outcomes .nav-item.btn-secondary {
    background-color: #5a6268;
        border-color: #545b62
}

.outcome-link {
    align-self: center;
}

a .svg-icon:hover {
    filter: 
    invert(0.5)
    sepia(1)
    hue-rotate(200deg)
    saturate(4)
    brightness(1);
}

#id_outcomes .outcome {
    width: 85%;
    color: #004a43;
}
#id_outcomes .row {
    margin: 0;

}

#id_outcome_media {
    grid-area: outcome_media;
}

#id_outcome_title {
    padding:0.5rem;
}

#id_outcome_description {
    grid-area: outcome_description;
    padding-left: 1rem;
    padding-right: 1rem;
    overflow-y: auto;
    max-height:50%;
}

#id_outcome_title_description {
    border-bottom: 2px solid #0f5e7f;
}
#id_outcome_media_content {
    overflow-y: auto;
    max-height: 75%;
    padding-top:1em;
}

.nav-tabs .nav-link {
    padding: 1em;
}
.nav-tabs .nav-link.active {
    border-color: grey;
}

.fa-upload {
    margin-right: 1rem;
}
