@media screen and (-webkit-min-device-pixel-ratio:0) {
    .select-fix-height {
        height: 33px !important;
        line-height: 33px !important;
        padding-bottom: 0;
        padding-top: 0;
    }
}
@-moz-document url-prefix() {
    .select-fix-height {
        height: 31px !important;
        padding-bottom: 0px;
        padding-top: 0;
    }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .select-fix-height {
        height: 36px !important;
        line-height: 36px !important;
    }
}

#course_list {
    width: 100%;
    padding-bottom: 1rem;
}

#subject_list {
    flex-direction: row;
    flex-grow: 0;
}

#subject_list .list-group-item-action:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
#subject_list .list-group-item-action:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
#subject_list .list-group-item-action {
    border-radius: 0;
}
#subject_list .list-group-item-action:hover {
    color: white;
    text-decoration: underline;
}
.list-group-item-action:first-child,
.list-group-item-action:last-child,
.list-group-item-action,
.list-group-item-action.active:first-child,
.list-group-item-action.active:last-child,
.list-group-item-action.active {
    min-height: 5vh;
    text-align: center;
    border-width: 1px;
}

#subject_list .list-group-item-action.active:first-child,
#subject_list .list-group-item-action.active:last-child,
#subject_list .list-group-item-action.active {
    border-color: black;
    text-decoration: underline;
}

#id_course_outcomes {
    display:grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 0.5fr 2fr 25em;
    grid-template-areas:
        "new_outcome outcome_description"
        "outcomes outcome_description"
        "outcomes outcome_media";
    background-color: whitesmoke;
    border: 2px solid #0f5e7f;
    border-radius: 5px;
    height: 40em;
}
#id_new_outcome {
    grid-area: new_outcome;
}

#id_outcomes {
    grid-area: outcomes;
    overflow-y: auto;
    flex-wrap: nowrap;
}
#id_outcomes .btn-secondary .nav-link {
    color: white;
}
#id_outcomes .nav-item.btn-secondary {
    background-color: #5a6268;
    border-color: #545b62
}
#id_outcomes .btn-secondary .svg-icon {
    width: 1em;
}
#id_outcomes .nav-item:not(.btn-secondary) .svg-icon {
    display: none;
}
.outcome.nav-link:hover {
    text-decoration: underline;
}
#id_outcomes .outcome {
    width: 85%;
    color: #004a43;
}
#id_outcomes .row {
    margin: 0;
}

.outcome-link {
    align-self: center;
}

a .svg-icon:hover {
    filter: 
    invert(0.5)
    sepia(1)
    hue-rotate(200deg)
    saturate(4)
    brightness(1);
}

#id_outcome_media {
    display: flex;
    flex-direction: column;
    grid-area: outcome_media;
    border-left: 2px solid #0f5e7f;
}

#id_outcome_title {
    padding: 0.5rem;
    background-color: #0f5e7f;
    color: white;
}

#id_outcome_description {
    padding-left: 1rem;
    padding-right: 1rem;
    overflow-y: auto;
}
#id_outcome_description p {
    max-width: none;
}

#id_outcome_title_description {
    grid-area: outcome_description;
    border-left: 2px solid #0f5e7f;
    display: flex;
    flex-direction: column;
}

#outcomemedia_filters {
    background-color: #0f5e7f;
}
#outcomemedia_filters.form-row {
    margin: 0;
}
#outcomemedia_filters .form-group {
    margin-bottom: 1rem;
}
#outcomemedia_filters label {
    color: white;
}

#id_course_detail_description {
    padding-top: 1rem;
}

@media (min-width: 567px) {
    #id_course_detail_description {
        padding: 1rem 1rem;
    }
}

.tab-content {
    overflow-y: auto;
}

.nav-tabs {
    background-color: #0f5e7f;
}
.nav-tabs .nav-link {
    padding: 1em;
    color: white;
}
.nav-tabs .nav-link.active {
    color: snow;
}

.fa-upload {
    margin-right: 1rem;
}
#subject_list .list-group-item-action:first-child,
#subject_list .list-group-item-action:last-child,
#subject_list .list-group-item-action {
    margin-top: 0;
}

@media (max-width: 991.98px) {
    #subject_list {
        flex-direction: column;
        flex-grow: 0;
    }
    #subject_list .list-group-item-action:first-child {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 0;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 0;
    }
    #subject_list .list-group-item-action:last-child {
        border-top-left-radius: 0;
        border-bottom-left-radius: 5px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 5px;
    }
    #id_course_outcomes {
        display: flex;
        flex-direction: column;
        height: auto;
    }
    #id_outcomes {
        height: 30vh;
        border-right: 0;
    }
    #id_outcome_title_description {
        border: none;
        order: 5;
    }
    #id_outcome_media {
        border-left: 0;
    }
    #id_outcome_media_content {
        overflow-y: auto;
        height: 40vh;
    }
}

@media (max-width: 566.98px) {
    #id_course_outcomes {
        height: unset;
    }
    #outcome_media_tabs {
        display: flex;
        flex-direction: column;
    }
}

#outcome_media_tabs .dropdown-menu {
    min-width: unset;
    max-width: 5rem;
    max-height: 30vh;
    overflow-y: auto;
}
#outcome_media_tabs .dropdown-menu .dropdown-item {
    min-width: unset;
    min-height: unset;
    cursor: pointer;
}

.dropdown-item.selected {
    background-color: darkgrey;
}

