@media screen and (-webkit-min-device-pixel-ratio:0) {
    .select-fix-height {
        height: 33px !important;
        line-height: 33px !important;
        padding-bottom: 0;
        padding-top: 0;
    }
}
@-moz-document url-prefix() {
    .select-fix-height {
        height: 31px !important;
        padding-bottom: 0px;
        padding-top: 0;
    }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .select-fix-height {
        height: 36px !important;
        line-height: 36px !important;
    }
}

#course_list {
    width: 100%;
    padding-bottom:1rem;
}

.list-group-item-action:first-child,
.list-group-item-action:last-child,
.list-group-item-action,
.list-group-item-action.active:first-child,
.list-group-item-action.active:last-child,
.list-group-item-action.active {
    min-height: 11vh;
}
