@media screen and (-webkit-min-device-pixel-ratio:0) {
    .select-fix-height {
        height: 33px !important;
        line-height: 33px !important;
        padding-bottom: 0;
        padding-top: 0;
    }
}
@-moz-document url-prefix() {
    .select-fix-height {
        height: 31px !important;
        padding-bottom: 0px;
        padding-top: 0;
    }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .select-fix-height {
        height: 36px !important;
        line-height: 36px !important;
    }
}

select:-internal-list-box option:checked {
    background-color: white;
    background: white;
    color: -internal-inactive-list-box-selection-text !important;
}

.list-group-item {
    display: block;
}
.list-group-item-action:first-child {
    margin-top: 0;
}

.list-group-item-action:last-child,
.list-group-item-action {
    margin-top: 0.6rem;
}

.list-group-item-action:first-child,
.list-group-item-action:last-child,
.list-group-item-action {
    line-height: 0;
    width: 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-radius: 1rem;
    border-color: rgba(0,0,0, .4);
    border-style: solid;
    border-width: .095rem;
    transition: background-color 0.1s ease;
    color:white;
}

.list-group-item-action.active:first-child,
.list-group-item-action.active:last-child,
.list-group-item-action.active {
    color: black;
    background-color: rgba(0,0,0,.2);
    border-color: rgba(0,0,0, .3);
    border-radius: 1.1rem;
}

div.invalid-feedback {
    position: absolute;
    margin-left: .8rem;
}

ul.errorlist li {
}
.errorlist {
    margin:0;
}
#mysirius-courses-row {
    border-color: rgb(100,180,180);
    border-width: .15rem;
    border-radius: 1rem;
    background-color: rgba(18,85,74, 0.1);
    height:20vh;
    margin-bottom: 0.3rem;
    align-items:center;
    padding:1rem;
}
#mysirius-courses {
    height: 100%;
    overflow-y: auto;
    padding:.5rem;
}
select[multiple] {
    border-radius: 0;
}

a.unsaved-course.list-group-item-action {
    background-color: rgba(5,98,155, .3);
    border-style:dotted;
}

.submit-row {
    margin-top: 1rem;
}
