{% extends "base.html" %}


{% block title %}
  Home | SIRIUS
{% endblock title %}

{% block content-main %}
<h4>The Sirius Project</h4>
<p>
The Sustainable Interdisciplinary Research to Inspire Undergraduate Success (SIRIUS) Project aims to provide nearly 2,000 students, majoring in the Biological Sciences, with authentic research experiences. This is being achieved through the re-design and coordination of 12 laboratory courses, all focused on a common theme – the human impacts of the American River Ecosystem. The curriculum spans introductory to capstone-level courses and multiple sub-disciplines of biology, giving students repeated experiences to develop research skills and contribute novel data to the existing knowledge about the waterway that runs through the Sacramento State campus. 
</p>
<h4>Our Goals</h4>
<ul>
  <li>
    1. To provide high-impact research experiences to 100% of our students.
  </li>
  <li>
    2. To develop a collaborative, interactive community of faculty, staff and students.
  </li>
  <li>
    3. To bring the power of the University to bear on an important local scientific problem.
  </li>
  <li>
    4. To help the Sacramento regional community sustain an important local treasure.
  </li>
</ul>
{% endblock content-main %}

