{% extends 'outcomes/outcome_detail.html' %}
{% load static %}

{% block custom_css %}
<link rel="stylesheet" type="text/css" href="{% static 'outcomes/styles.css' %}">
{% endblock custom_css %}

{% block extra-content %}

{% if user.is_authenticated %}
  {% if form.errors %}
    {% for error in form.non_form_errors %}
    <div class="alert alert-danger">
      <strong>{{ error|escape }}</strong>
    </div>
    {% endfor %}
  {% endif %}
<form 
  id="outcome_media_form" 
  class="custom-validation mt-auto"
  method="post"
  enctype="multipart/form-data"
  novalidate>
  {% csrf_token %}

  <div class="form-group bmd-form-group">
    <label for="outcome_course_section" class="control-label bmd-label-static">Section</label>
    <select name="section" 
            class="col-lg-3 col-md-6 col-sm-6 form-control custom-select select-fix-height" 
            id="outcome_course_section">
        {% for section in outcome_course_sections %}
        <option>{{ section }}</option>
        {% endfor %}
    </select>
    <div class="invalid-feedback">
      Enter your section
    </div>
  </div>

  {{ form.management_form }}

  {% for upload_form in form %}
  <div class="w-100" id="outcome-media-forms-row">
    <div id="outcome-media-forms">
        <div class="media-upload spacer">
          <hr/>
          <div class="custom-file">
            {{ upload_form.media }}
            <div class="invalid-feedback">
              Select a file
            </div>
          </div>
          <div class="bmd-form-group input-group flex-column">
            <div class="col-12 col-xl-6 col-lg-8">
              {{ upload_form.outcome_type }}
            </div>
            <a href="javascript:void(0)" class="mt-2 mb-2 add-media-upload">
              <img class="mr-2 svg-icon" 
                   src="{% static 'img/font-awesome/layer-plus.svg' %}">
              Add another file
            </a>
            <div class="invalid-feedback">
              Select a file type
            </div>
          </div>
        </div>
      </div>
  </div>
  {% endfor %}

  <div class="form-row submit-row">
    <div class="mr-auto">
      <input type="Submit" class="btn btn-raised btn-primary" value="Submit">
    </div>
    {% block back_navigate %}
    <a class="btn" href="{% url 'outcomes:outcome-media-update' outcome.slug %}">Clear</a>
    {% endblock back_navigate %}
  </div>
</form>
{% endif %}
{% endblock extra-content %}

{% block custom_js %}
  <script type="text/javascript">
    {% include 'partials/outcomemedia-formset-management.js' %}
  </script>
{% endblock custom_js %}
