{% extends "base.html" %}
{% load static outcome_tags %}

{% block custom_css %}
<link rel="stylesheet" type="text/css" href="{% static 'outcomes/styles.css' %}">
{% endblock custom_css %}

{% block title %}
  {{ outcome.title }} | SIRIUS
{% endblock title %}


{% block content-main %}

<div id="outcome_detail">
  <div id="outcome_detail_title" class="submit-row align-items-center">
    <div class="mr-auto">
      {% if outcome.course %}
      <a href="{{ outcome.course.get_absolute_url }}">
        <h5>{{ outcome.course }}</h5>
      </a>
      {% endif %}
    </div>
    {% if user.pk == outcome.author.pk or user.is_superuser %}
    <div class="btn-group m-0">
      <button class="btn bmd-btn-icon dropdown-toggle" 
              type="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false">
        <i class="material-icons">more_vert</i>
      </button>  
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="ex2">
        <a class="dropdown-item"
           href="{% if outcome.is_public %}{% url 'outcomes:outcome-update' outcome.slug %}{% else %}{% url 'outcomes:draft-update' outcome.slug %}{% endif %}">
          Edit
        </a>
        <a class="dropdown-item"
           href="{% url 'outcomes:outcome-submissions-update' outcome.slug %}">
          Review Submissions
        </a>
      </div>
    </div>
    {% endif %}
  </div>
  <h6>{{ outcome.title }}</h6>
  <div id="outcome_detail_course_semester">
      {% if outcome.semester %} | {{ outcome.semester }} {% endif %}
      {% if outcome.year %}{{ outcome.year }} {% endif %}
  </div>
  <div id="outcome_detail_description">
    <p>{{ outcome.description }}</p>
  </div>

  {% if outcome.is_public %}
    {% block outcomemedia_update_form %}{% endblock %}
  {% endif %}

</div>

{% endblock content-main %}

