{% extends "base.html" %}
{% load static outcome_tags %}

{% block custom_css %}
<link rel="stylesheet" type="text/css" href="{% static 'outcomes/styles.css' %}">
{% endblock custom_css %}

{% block title %}
  Outcomes | SIRIUS
{% endblock title %}

{% block content-main %}



  {% block outcome_actions %}
    {% if user.is_authenticated and user.user_type != 'ST' %}
    <div id="outcome_actions">
      <a 
        class="btn btn-raised btn-secondary" 
        href="{% url 'outcomes:outcome-create' %}">
        + New Outcome
      </a>
      {% block draft_action %}
      <a 
        class="btn btn-raised btn-info"
        href="{% url 'outcomes:draft-list' %}">
        Saved Drafts
      </a>
      {% endblock %}
    </div>
    {% endif %}
  {% endblock outcome_actions %}

  {% block outcome-list %}
  <div id="outcome_list" class="list-group">
      {% for outcome in outcomes %}
        <a class="list-group-item
                  list-group-item-action
                  flex-column
                  align-items-start
              {% if outcome.course.subject == 'GEOL' %} subject-geol
              {% elif outcome.course.subject == 'CHEM' %} subject-chem
              {% elif outcome.course.subject == 'ENVS' %} subject-envs
              {% elif outcome.course.subject == 'BIO' %} subject-bio
              {% elif outcome.course.subject == 'CE' %} subject-ce
              {% endif %}"
           href="{% url 'outcomes:outcome-media-update' outcome.slug %}">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{ outcome }}</h5>
            <small>{% time_since outcome.modified %}</small>
          </div>
          <p class="mb-1">{{ outcome.course }}</p>
          <small>{{ outcome.author }}</small>
        </a>
      {% endfor %}
  </div>
  {% endblock outcome-list %}

{% endblock %}

{% block custom_js %}

{% endblock custom_js %}
