{% extends "base.html" %}
{% load static outcome_tags %}

{% block custom_css %}
<link rel="stylesheet" type="text/css" href="{% static 'outcomes/styles.css' %}">
{% endblock custom_css %}

{% block title %}
  Outcomes | SIRIUS
{% endblock title %}

{% block content-main %}



  {% block outcome_actions %}
    {% if user.is_authenticated and user.user_type != 'ST' %}
    <div id="outcome_actions">
      <a 
        class="btn btn-raised btn-primary" 
        href="{% url 'outcomes:outcome-create' %}">
        + New Outcome
      </a>
      {% block draft_action %}
      <a 
        class="btn btn-raised btn-secondary"
        href="{% url 'outcomes:draft-list' %}">
        Saved Drafts
      </a>
      {% endblock %}
    </div>
    {% endif %}
  {% endblock outcome_actions %}

  <div class="container">
  <div class="row">
    <div class="col-sm">
		Title:
		<input type="text" id="title" class="search-key" placeholder="Title...">
    </div>
	<div class="col-sm">
		Course:
		<input type="text" id="course" class="search-key" placeholder="Course...">
  </div>
  <div class="col-sm">
		Author:
		<input type="text" id="author" class="search-key" placeholder="Author...">
  </div>
</div>

  {% block outcome-list %}
  <div id="outcome_list" class="list-group">
      {% for outcome in outcomes %}
        <a class="list-group-item
                  list-group-item-action
                  flex-column
                  align-items-start
              {% if outcome.course.subject == 'GEOL' %} subject-geol
              {% elif outcome.course.subject == 'CHEM' %} subject-chem
              {% elif outcome.course.subject == 'ENVS' %} subject-envs
              {% elif outcome.course.subject == 'BIO' %} subject-bio
              {% elif outcome.course.subject == 'CE' %} subject-ce
              {% endif %}"
           href="{% url 'outcomes:outcome-media-update' outcome.slug %}">
          <div class="d-flex w-100 justify-content-between">
            <h5 data-input="title" class="filter mb-1">{{ outcome }}</h5>
            <small>{% time_since outcome.modified %}</small>
          </div>
          <p data-input="course" class="filter mb-1">{{ outcome.course }}</p>
          <small data-input="author" class="filter">{{ outcome.author }}</small>
        </a>
      {% endfor %}
  </div>
  {% endblock outcome-list %}

{% endblock %}

{% block custom_js %}
<script>
var $filterableRows = $('#outcome_list').find("a"),
		$inputs = $('.search-key');	
$inputs.on('input', function() {
	$filterableRows.hide().filter(function() {
  	return $(this).find('.filter').filter(function() {
		var tdText = $(this).text().toLowerCase(), 
			inputValue = $('#' + $(this).data('input')).val().toLowerCase();
		return tdText.indexOf(inputValue) != -1;
    
    }).length == $(this).find('.filter').length;
  }).show();
});
</script>
{% endblock custom_js %}
