{% extends "base.html" %}
{% load static outcome_tags %}

{% block custom_css %}
<link rel="stylesheet" type="text/css" href="{% static 'outcomes/styles.css' %}">
{% endblock custom_css %}

{% block title %}
  {{ outcome.title }} Submissions | SIRIUS
{% endblock title %}

{% block content-main %}

  <div id="outcome_detail_title" class="submit-row align-items-center">
    <div class="mr-auto">
      {% if outcome.course %}
      <a href="{{ outcome.course.get_absolute_url }}">
        <h5>{{ outcome.course }}</h5>
      </a>
      {% endif %}
    </div>
  </div>
  <div id="outcome_detail_course_semester">
      {% if outcome.semester %} | {{ outcome.get_semester_display }} {% endif %}
      {% if outcome.year %}{{ outcome.year }} {% endif %}
  </div>
  <h6>{{ outcome.title }}</h6>

{% if form.initial_form_count > 0 %}
<form id="submission-form" method="post">
  {% csrf_token %}

  {{ form.management_form }}

  {% for media in form %}
    {{ media.id }}
    <div class="form-group bmd-form-group pt-3 mb-0">
      <div class="col-12 form-row">
        <a href="{{ media.instance.media.url }}">{{ media.instance.filename }}</a>
      </div>
      <div class="col-12 form-row">
        <small>uploaded by: {{ media.instance.author }}</small>
      </div>
      <div class="col-12 form-row">
        <div class="col-xl-6 col-lg-8 col-md-8 col-sm-8">
          {{ media.outcome_type }}
        </div>
        <div class="submission-actions col-xl-6 col-lg-4 col-md-4 col-sm-4 col-12">
          <div class="col-12 form-row align-items-center">
          {{ media.is_public }} <span class="ml-1">publish</span>
          </div>
          <div class="col-12 form-row align-items-center">
          {{ media.is_delete }} <span class="ml-1">delete</span>
          </div>
        </div>
      </div>
      <hr/>
    </div>
  {% endfor %}

  <div class="submit-row mt-auto">
    <div class="mr-auto">
      <input type="Submit" class="btn btn-raised btn-primary" value="Save">
    </div>
    <button class="btn" type="reset">Reset All</button>
  </div>
</form>
{% else %}
<p>There are currently no submissions.</p> 
{% endif %}


{% endblock content-main %}

{% block custom_js %}
  <script type="text/javascript">
    $("input[type=checkbox]").click(function() {
        if ($(this).attr("id").indexOf("public") > -1)
            $(this).closest(".submission-actions")
            .find("input[id*='delete']").prop("checked", false);
        else 
          $(this).closest(".submission-actions")
          .find("input[id*='public']").prop("checked", false);
    });
           
  </script>
{% endblock custom_js %}
