{% extends "base.html" %}
{% load static outcome_tags %}

{% block custom_css %}
<link rel="stylesheet" type="text/css" href="{% static 'outcomes/styles.css' %}">
{% endblock custom_css %}

{% block title %}
  Outcomes | SIRIUS
{% endblock title %}

{% block content-main %}

  {% block outcome_actions %}
    {% if user.is_authenticated and user.is_privileged %}
    <div id="outcome_actions">
      <a 
        class="btn btn-raised btn-primary" 
        href="{% url 'outcomes:outcome-create' %}">
        <i class="fas fa-plus-circle"></i>
        New Outcome
      </a>
      {% block draft_action %}
      <a 
        class="btn btn-raised btn-secondary"
        href="{% url 'outcomes:draft-list' %}">
        Saved Drafts
      </a>
      {% endblock %}
    </div>
    {% endif %}
  {% endblock outcome_actions %}

  {% block outcome-list %}
  <div id="outcome_list" class="list-group">
    {% for outcome in outcomes %}
    <a class="list-group-item
              list-group-item-action
              flex-column
              align-items-start
          {% if outcome.course.subject == 'GEOL' %} subject-geol
          {% elif outcome.course.subject == 'CHEM' %} subject-chem
          {% elif outcome.course.subject == 'ENVS' %} subject-envs
          {% elif outcome.course.subject == 'BIO' %} subject-bio
          {% elif outcome.course.subject == 'CE' %} subject-ce
          {% endif %}"
       href="{% url 'outcomes:outcome-media-update' outcome.slug %}">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="filter mb-1">{{ outcome }}</h5>
        <small class="mb-auto">{% time_since outcome.modified %}</small>
      </div>
      {% if outcome.course %}
      <p class="filter mt-auto mb-0">{{ outcome.course }}</p>
      {% endif %}

    </a>
    {% endfor %}
  </div>
  {% endblock outcome-list %}

{% endblock %}
