{% extends 'base.html' %}
{% block content %}
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-sm">
		Title:
		<input id="SearchTitle" type="text" placeholder="Title...">
    </div>
    <div class="col-sm">
		Placeholder
    </div>
    <div class="col-sm">
		Subject:
		<select id="SearchSubject">
			<option value="" selected></option>
			{% for subject in subjects %}
			<option value="{{ subject.subject }}">{{ subject.get_subject_display }}</option>
			{% endfor %}
			<option value="test">Test</option>
		</select>
    </div>
  </div>
</div>


<table>
  <thead>
  <tr>
    <th>Title</th>
	<th>Course</th>
	<th>Subject</th>
  </tr>
  </thead>
  <tbody id="myTable">
  {% for article in articles %}
  <tr>
	<td class="TitleClass">    
		<a href="{{ article.get_absolute_url }}">{{ article.title }}</a>
	</td>
	<td class="CourseClass">{{ article.course }}</td>
	<td class="SubjectClass">{{ article.get_subject_display }}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>

</body>
</html>
{% endblock %}

{% block custom_js %}
<script>
<!-- source: https://www.w3schools.com/jquery/tryit.asp?filename=tryjquery_filters_table -->
$(document).ready(function(){
  $("#SearchTitle").on("keyup", function() {
    var title = $(this).val().toLowerCase();
    $("#myTable td.TitleClass").filter(function() {
      ($(this).parent()).toggle($(this).text().toLowerCase().indexOf(title) > -1)
    });
  });
});

$("#SearchSubject").change(function() {
	console.log($(this).val());
	var subject = $(this).val();
	$("#myTable td.SearchSubject").filter(function() {
      ($(this).parent()).toggle($(this).text().toLowerCase().indexOf(title) > -1)
    });
})

<!-- source: https://stackoverflow.com/questions/3160277/jquery-table-sort/19947532#19947532 -->
$('th').click(function(){
    var table = $(this).parents('table').eq(0)
    var rows = table.find('tr:gt(0)').toArray().sort(comparer($(this).index()))
    this.asc = !this.asc
    if (!this.asc){rows = rows.reverse()}
    for (var i = 0; i < rows.length; i++){table.append(rows[i])}
})
function comparer(index) {
    return function(a, b) {
        var valA = getCellValue(a, index), valB = getCellValue(b, index)
        return $.isNumeric(valA) && $.isNumeric(valB) ? valA - valB : valA.toString().localeCompare(valB)
    }
}
function getCellValue(row, index){ return $(row).children('td').eq(index).text() }
</script>
{% endblock %}
