{% extends "base.html" %}
{% block content %}
  <div>
    {{ article.title }}
  </div>
  <div>
    {{ article.description }}
  </div>
  <div>
    {{ article.get_subject_display }}
  </div>
  <div>
    {{ article.get_article_type_display }}
  </div>
  <div>
    <label>Published?</label>
    {{ article.is_public }}
  </div>
  <div>
    <label>Author:</label>
    {{ article.author }}
  </div>
  <div>
    <label>Course: </label>
    <a href="{{ article.course.get_absolute_url }}">
      {{ article.course }}
    </a>
  </div>
  <div>
    <label>Last updated: </label>
    {{ article.modified }}
  </div>
  <div>
    <label>Semester: </label>
    {{ article.get_semester_display }} {{ article.year }}
  </div>
  <div>
    {% for media in articlemedia_list %}
      <a href="{{ media.article_media.url }}">{{ media.filename }}</a>
    {% endfor %}
  </div>
  {% if user.pk == article.author.pk %}
  <div>
    <a href="{% url 'articles:article-update' article.slug %}">
      <button type="button" class="btn">Edit</button>
    </a>
  </div>
  {% endif %}
{% endblock content %}
