{% extends "articles/article_create_form.html" %}
{% load crispy_forms_tags %}

{% block submit %}
{% block post %}{% endblock post %}

{% if article.is_public == False %}
<input type="Submit" class="btn btn-primary" value="Post">
{% else %}
<input type="Submit" class="btn btn-primary" value="Save">
<input type="Submit" class="btn btn-danger" value="Make Private" name="_save_draft">
{% endif %}

{% endblock submit %}

{% block back_navigate %}
<a href="{% url 'articles:article-detail' article.slug %}">
{% endblock back_navigate %}
