{% extends "articles/article_create_form.html" %}
{% load article_tags %}

{% block submit %}
<input type="Submit"
       name="post"
       class="btn btn-primary" 
       value="{% if article.is_public %}
              Save{% else %}Post
              {% endif %}">

<input type="Submit"
       class="btn btn-danger" 
       name="_save_draft"
       value="{% if article.is_public %}
              Make Private{% else %}Save Draft
              {% endif %}"> 
{% endblock submit %}

{% block back_navigate %}
<a class="btn" name="cancel" href="{% get_absolute_url article %}">Cancel</a>
{% endblock back_navigate %}
