{% extends "base.html" %}
{% block content %}
  <div>
    {{ article.title }}
  </div>
  <div>
    {{ article.description }}
  </div>
  <div>
    {{ article.get_subject_display }}
  </div>
  <div>
    {{ article.get_article_type_display }}
  </div>
  <div>
    <label>Published?</label>
    {{ article.is_public }}
  </div>
  <div>
    <label>Author:</label>
    {{ article.author }}
  </div>
  <div>
    <label>Course: </label>
    {{ article.course }}
  </div>
  <div>
    <label>Created: </label>
    {{ article.created }}
  </div>
  <div>
    {% for media in articlemedia_list %}
      <a href="{{ media.article_media.url }}">{{ media.filename }}</a>
    {% endfor %}
  </div>
  {% if user.pk == article.author.pk %}
  <div>
    <a href="{% url 'article-update' article.slug %}">
      <button type="button" class="btn">Edit</button>
    </a>
  </div>
  {% endif %}
  <div>
    {% if article.is_public == True %}
    <a href="{% url 'article-list' %}">
    {% else %}
    <a href="{% url 'draft-list' %}">
    {% endif %}
      <button type="button" class="btn">Back</button>
    </a>
  </div>
{% endblock content %}
