{% extends 'base.html' %}
{% block content %}
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

</style>
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-sm">
		Title:
		<input type="text" id="title" class="search-key" placeholder="Title...">
    </div>
    <div class="col-sm">
		Course:
		<input type="text" id="course" class="search-key" placeholder="Course...">
    </div>
	    <div class="col-sm">
		Subject:
		<select id="subject" class="search-key" style="width: 50px;">
			<option value="" selected></option>
			{% for subject in subjects %}
			<option value="{{ subject.get_subject_display }}">{{ subject.get_subject_display }}</option>
			{% endfor %}
		</select>
		<!-- <input type="text" id="subject" class="search-key" placeholder="Subject..."> -->
    </div>
  </div>
</div>


<table id="articleTable">
  <thead>
  <tr>
    <th>Title</th>
	<th>Course</th>
	<th>Subject</th>
	<th>Date</th>
  </tr>
  {% for article in articles %}
  <tr>
	<td class="filter" data-input="title"><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></td>
	<td class="filter" data-input="course">{{ article.course }}</td>
	<td class="filter" data-input="subject">{{ article.course.get_subject_display }}</td>
	<td> {{ article.created }} </td>
  </tr>
  {% endfor %}
</table>

</body>
</html>
{% endblock %}

{% block custom_js %}
<script>
var $filterableRows = $('#articleTable').find('tr').not(':first'),
		$inputs = $('.search-key');	
var itemsNotFiltered = 1;
$inputs.on('input', function() {
	$filterableRows.hide().filter(function() {
  	return $(this).find('td.filter').filter(function() {
		var tdText = $(this).text().toLowerCase(), 
			inputValue = $('#' + $(this).data('input')).val().toLowerCase();
		return tdText.indexOf(inputValue) != -1;
    
    }).length == $(this).find('td').length - itemsNotFiltered;
  }).show();
});
<!-- source: https://stackoverflow.com/questions/3160277/jquery-table-sort/19947532#19947532 -->
$('th').click(function(){
    var table = $(this).parents('table').eq(0)
    var rows = table.find('tr:gt(0)').toArray().sort(comparer($(this).index()))
    this.asc = !this.asc
    if (!this.asc){rows = rows.reverse()}
    for (var i = 0; i < rows.length; i++){table.append(rows[i])}
})
function comparer(index) {
    return function(a, b) {
        var valA = getCellValue(a, index), valB = getCellValue(b, index)
        return $.isNumeric(valA) && $.isNumeric(valB) ? valA - valB : valA.toString().localeCompare(valB)
    }
}
function getCellValue(row, index){ return $(row).children('td').eq(index).text() }
</script>
{% endblock %}
