{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block custom_css %}
<link rel="stylesheet" type="text/css" href="{% static 'articles/styles.css' %}">
{% endblock custom_css %}

{% block title %}
  Create Article | SIRIUS
{% endblock title %}

{% block content-main %}

{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
              <strong>Error on field "{{ field.label |capfirst }}": {{ error |escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}

{% if articlemedia_form.errors %}
    {% for error in articlemedia_form.non_form_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}

<form 
  id="article-form" 
  class="custom-validation"
  method="post"
  data-sections-url="{% url 'articles:ajax-get-sections' %}"
  enctype="multipart/form-data"
  novalidate>
  {% csrf_token %}

  <div class="form-row">
    <div class="form-group col-12">
      <label for="article_title" class="control-label bmd-label-static">Title</label>
      {{ form.title }}
      <div class="invalid-feedback">
        Enter a title
      </div>
    </div>
  </div>

  <div class="form-row justify-content-between">
    <div class="form-group col-12 col-lg-9">
      <label for="article_course" class="bmd-label-static">Course</label>
        {{ form.course }}
    </div>
    <div class="form-group col-12 col-lg-2">
      <label for="article_course_section" class="bmd-label-static">Section</label>
      {{ form.section }}
    </div>
  </div>

  <div class="form-row justify-content-between">
    <div class="form-group col-12 col-lg-9">
      <label for="article_semester" class="bmd-label-static">Semester</label>
        {{ form.semester }}
    </div>
    <div class="form-group col-12 col-lg-2">
      <label for="article_year" class="bmd-label-static">Year</label>
      {{ form.year }}
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-12">
      <label for="article_description" class="bmd-label-static">Description</label>
      {{ form.description }}
    </div>
  </div>

  {{ articlemedia_form.management_form }}

  {% for upload_form in articlemedia_form %}
  <div id="article-media-forms-row">
    <div id="article-media-forms">
      <div class="form-group col-12">
        <div class="media-upload spacer">
          <div class="custom-file col-11">
            {{ upload_form.article_media }}
          </div>
          <div class="input-group row col-11 col-md-5">
            <button class="btn btn-success add-media-upload">+</button>
            {{ upload_form.article_type }}
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}

      <div class="submit-row">
        <div class="mr-auto">
          <input type="Submit" class="btn btn-raised btn-primary" value="Submit">
          {% block save_draft%}
          <input type="Submit" class="btn btn-danger" value="Save Draft" name="_save_draft">
          {% endblock save_draft %}
        </div>
        {% block back_navigate %}
        <a class="btn" href="{% url 'articles:article-list' %}">Cancel</a>
        {% endblock back_navigate %}
      </div>
</form>

{% endblock content-main %}

{% block custom_js %}

<script type='text/javascript'>
  function updateElementIndex(el, prefix, ndx) {
      var id_regex = new RegExp('(' + prefix + '-\\d+)');
      var replacement = prefix + '-' + ndx;
      if ($(el).attr("for")) $(el).attr("for", $(el).attr("for").replace(id_regex, replacement));
      if (el.id) el.id = el.id.replace(id_regex, replacement);
      if (el.name) el.name = el.name.replace(id_regex, replacement);
  }
  function cloneMore(selector, prefix) {
      var total = $('#id_' + prefix + '-TOTAL_FORMS').val();
      var newElement = $(selector).clone(true);
      newElement.find(':input').each(function() {
          if (typeof($(this).attr('name')) != 'undefined') {
              var name = $(this).attr('name').replace('-' + (total-1) + '-', '-' + total + '-');
              var id = 'id_' + name;
              $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
          }
      });
      total++;
      $('#id_' + prefix + '-TOTAL_FORMS').val(total);
      $(selector).after(newElement);
      var conditionRow = $('.media-upload:not(:last)');
      conditionRow.find('.btn.add-media-upload')
      .removeClass('btn-success').addClass('btn-danger')
      .removeClass('add-media-upload').addClass('remove-media-upload')
      .html('&#120273;');
      return false;
  }
  function deleteForm(prefix, btn) {
      var total = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
      if (total > 1){
          btn.closest('.media-upload').remove();
          var forms = $('.media-upload');
          $('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);
          for (var i=0, formCount=forms.length; i<formCount; i++) {
              if (typeof($(this).attr('name')) != 'undefined') {
                  $(forms.get(i)).find(':input').each(function() {
                      updateElementIndex(this, prefix, i);
                  });
              }
          }
      }
      return false;
  }
  $(document).on('click', '.add-media-upload', function(e){
      e.preventDefault();
      cloneMore('.media-upload:last', 'media');
      return false;
  });
  $(document).on('click', '.remove-media-upload', function(e){
      e.preventDefault();
      deleteForm('media', $(this));
      return false;
  });
</script>
<script>
  $("#article_course").change(function ()
  {
    var url = $("#article-form").attr("data-sections-url");
    var course_id = $(this).val();

    if (course_id)
    {
      $.ajax({
        url: url,
        data: {'course': course_id},
        success: function (data)
        {
      $('#article_course_section').prop('disabled', false);
          $("#article_course_section").html(data);
        }
      });
    }
    else {
      $('#article_course_section').prop('disabled', true);
      $("#article_course_section").html("");
    }
  });
</script>
<script>
  $('#article_title').disableAutoFill();
</script>
{% endblock custom_js %}
