{% extends "base.html" %}
{% load static article_tags %}

{% block custom_css %}
<link rel="stylesheet" type="text/css" href="{% static 'articles/styles.css' %}">
{% endblock custom_css %}

{% block title %}
  Articles | SIRIUS
{% endblock title %}

{% block content %}

{% block header %}
<div>
  <h1>Articles</h1>
</div>
{% endblock %}

<div id="content">
  {% if user.is_authenticated %}
  <div>
    <a 
      class="btn btn-raised" 
      href="{% url 'articles:article-create' %}">
      + New Article
    </a>
    {% block draft-nav %}
    <a 
      class="btn btn-raised"
      href="{% url 'articles:draft-list' %}">
      Saved Drafts
    </a>
    {% endblock %}
  </div>
  {% endif %}

  {% block article-list %}
  <div class="list-group align-items-center">
      {% for article in articles %}
        <a class="justify-content-center list-group-item list-group-item-action flex-column align-items-start"
           href="{% get_absolute_url article %}">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{ article }}</h5>
            <small>{{ article.timesince_published }}</small>
          </div>
          <p class="mb-1">{{ article.course }}</p>
          <small>{{ article.author }}</small>
        </a>
      {% endfor %}
  </div>
  {% endblock article-list %}
</div>

{% endblock %}

{% block custom_js %}

{% endblock custom_js %}
