@media screen and (-webkit-min-device-pixel-ratio:0) {
    .select-fix-height {
        height: 33px !important;
        line-height: 33px !important;
        padding-bottom: 0;
        padding-top: 0;
    }
}
@-moz-document url-prefix() {
    .select-fix-height {
        height: 31px !important;
        padding-bottom: 0px;
        padding-top: 0;
    }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .select-fix-height {
        height: 36px !important;
        line-height: 36px !important;
    }
}

#outcome-media-forms-row {
    border-color: rgb(100,180,180);
    border-width: .15rem;
    border-radius: 1rem;
    background-color: rgba(18,85,74, 0.1);
    height:20vh;
    margin-bottom: 0.3rem;
    align-items:center;
    padding:1rem;
}
#outcome-media-forms {
    overflow-y: auto;
    height:100%;
}
#outcome-media-forms .bmd-form-group {
    padding-top: 0;
}

input-group>.custom-file-control:not(:first-child),
.input-group>.custom-select:not(:first-child),
.input-group>.form-control:not(:first-child) {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

@media (max-width: 767.98px) {
    #outcome-media-forms-row {
        margin-top:1rem;
    }
}

#outcome_list {
    width:100%;
}

.submit-row {
    margin-top:1rem;
}
