@media screen and (-webkit-min-device-pixel-ratio:0) {
    .select-fix-height {
        height: 33px !important;
        line-height: 33px !important;
        padding-bottom: 0;
        padding-top: 0;
    }
}
@-moz-document url-prefix() {
    .select-fix-height {
        height: 31px !important;
        padding-bottom: 0px;
        padding-top: 0;
    }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .select-fix-height {
        height: 36px !important;
        line-height: 36px !important;
    }
}

#outcome-media-forms-row {
    border: 0.2rem solid gainsboro; 
    border-radius: 5px;
    background-color: rgba(18,85,74, 0.1);
    height:23vh;
    margin-bottom: 1rem;
    padding: 0.8rem;
    align-items:center;
}
#outcome-media-forms {
    overflow-y: scroll;
    height:100%;
}
#outcome-media-forms .bmd-form-group {
    padding-top: 0;
}
.media-upload input[type="file"] {
    display: none;
}

.input-group>.custom-file-control:not(:first-child),
.input-group>.custom-file-control:not(:last-child),
.input-group>.custom-select:not(:first-child),
.input-group>.custom-select:not(:last-child),
.input-group>.form-control:not(:first-child),
.input-group>.form-control:not(:last-child) {
    border-radius: 1rem;
}

@media (max-width: 767.98px) {
    #outcome-media-forms-row {
        margin-top:1rem;
        height:35vh;
    }
}

#outcome_list {
    width:100%;
}

#outcome-media-forms .invalid-feedback {
    position: relative;
    margin-left: 3rem;
}

#outcome_media_form {
    display:flex;
    flex-direction:column;
    width: 100%;
    border: 2px solid #0f5e7f;
    align-self: center;
}



.list-group-item-action:first-child,
.list-group-item-action:last-child,
.list-group-item-action,
.list-group-item-action.active:first-child,
.list-group-item-action.active:last-child,
.list-group-item-action.active {
    min-height: 11vh;
}

.add-media-upload,
.add-media-upload:hover,
.add-media-upload:active,
.add-media-upload:focus,
.remove-media-upload,
.remove-media-upload:hover,
.remove-media-upload:active,
.remove-media-upload:focus {
    text-decoration: none;
    background-color: unset;
    color: black;
}

#id_course_outcomes {
    background-color: whitesmoke;
    border: 2px solid #0f5e7f;
    border-top: 0;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#id_outcome_media {
    display: flex;
    flex-direction: column;
}

#outcomemedia_filters {
    background-color: #0f5e7f;
}
#outcomemedia_filters.form-row {
    margin: 0;
}
#outcomemedia_filters .form-group {
    margin-bottom: 1rem;
}
#outcomemedia_filters label {
    color: white;
}

.tab-content {
    height: 30vh;
    overflow-y: auto;
}

.nav-tabs {
    background-color: #0f5e7f;
}
.nav-tabs .nav-link {
    padding: 1em;
    color: white;
}
.nav-tabs .nav-link.active {
    color: snow;
}

.fa-upload {
    margin-right: 1rem;
}
#subject_list .list-group-item-action:first-child,
#subject_list .list-group-item-action:last-child,
#subject_list .list-group-item-action {
    margin-top: 0;
}

@media (max-width: 991.98px) {
    #subject_list {
        flex-direction: column;
        flex-grow: 0;
    }
    #subject_list .list-group-item-action:first-child {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 0;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 0;
    }
    #subject_list .list-group-item-action:last-child {
        border-top-left-radius: 0;
        border-bottom-left-radius: 5px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 5px;
    }
    #id_course_outcomes {
        display: flex;
        flex-direction: column;
    }
    #id_outcome_media_content {
        overflow-y: auto;
        height: 40vh;
    }
}

@media (max-width: 566.98px) {
    #id_course_outcomes {
        height: unset;
    }
    #outcome_media_tabs {
        display: flex;
        flex-direction: column;
    }
    .tab-content {
        height: 75vh;
    }
    #directory_add {
        display: none;
    }
}

#outcome_media_tabs .dropdown-menu {
    min-width: unset;
    max-width: 5rem;
    max-height: 30vh;
    overflow-y: auto;
}
#outcome_media_tabs .dropdown-menu .dropdown-item {
    min-width: unset;
    min-height: unset;
    cursor: pointer;
}

#outcome_media_form {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

