{% extends "base.html" %}

{% block content %}

<h1>Courses</h1>
{% if user.user_type == 'FA' %}
  <a class="btn btn-raised" href="{% url 'courses:course-create' %}">+ Create Course</a>
{% endif %}

  <div class="list-group align-items-center">
    {% for course in courses %}
    <a class="justify-content-center list-group-item list-group-item-action flex-column align-items-start"
       href="{{ course.get_absolute_url }}">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{ course }}</h5>
      </div>
      <p class="mb-1">{{ article.course }}</p>
      <small>{{ article.author }}</small>
    </a>
    {% endfor %}
  </div>

{% endblock %}
