{% extends "base.html" %}

{% block title %}
  {{ course }}
{% endblock title %}

{% block content-main %}

<div id="course_detail_title">
  <h6>{{ course }}</h6>
</div>
<div id="course_detail_description">
  <p>{{ course.description }}</p>
</div>
<div id="course_detail_sections">
  <label>Sections</label>
  <p>
  {% for section in course.sections %}
    {{ section | stringformat:"02d" }}
  {% endfor %}
  </p>
</div>
<div>
  Related Outcomes
  <ul>
    {% for outcome in outcomes %}
    <li>
      <a href="{{ outcome.get_absolute_url }}">
        {{ outcome.title }}
      </a>
    </li>
    {% endfor %}
  </ul>
</div>
<div class="submit-row">
  {% if user.is_privileged %}
  <a class="btn btn-raised btn-primary" href="{% url 'outcomes:outcome-create' %}">Create Outcome</a>
  {% endif %}
  {% if user.user_role == 'FA' %}
  <a class="btn btn-raised btn-secondary" href="{% url 'courses:course-update' course.slug %}">Edit</a>
  {% endif %}
</div>

{% endblock content-main %}
