{% extends "base.html" %}
{% load static %}


{% block custom_css %}
<link rel="stylesheet" type="text/css" href="{% static 'courses/styles.css' %}">
{% endblock custom_css %}


{% block title %}
  Create Course | SIRIUS
{% endblock title %}

{% block content-main %}

{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}

<form id="course-form" action="" method="post" class="justify-content-center">
  {% csrf_token %}

  <div class="form-row">
    <div class="form-group bmd-form-group col-12">
      <label for="course_title" class="control-label bmd-label-static">{{ form.title.label }}</label>
      {{ form.title }}
    </div>
  </div>

  <div class="form-row">
    <div class="form-group bmd-form-group col-lg-10 sm-col-12">
      <label for="course_subject" class="bmd-label-static">{{ form.subject.label }}</label>
        {{ form.subject }}
    </div>

    <div class="form-group bmd-form-group col-lg-2 col-sm-12">
      <label for="course_number" class="bmd-label-static">{{ form.number.label }}</label>
      {{ form.number }}
    </div>
  </div>

  <div class="form-row">
    <div class="form-group bmd-form-group col-12">
      <label for="course_sections" class="bmd-label-static">{{ form.sections.label }}</label>
      {{ form.sections }}
    </div>
  </div>

  <div class="form-row mb-auto">
    <div class="form-group bmd-form-group col-12">
    <label for="course_description" class="bmd-label-static">{{ form.description.label }}</label>
    {{ form.description }}
    </div>
  </div>

  <div class="submit-row">
      {% block submit %}
      <input type="Submit" class="btn btn-raised btn-primary" value="CREATE">
      {% endblock submit %}
    {% block cancel_navigate %}
    <a class="btn" href="{% url 'courses:subject-list' %}">
    {% endblock %}
      CANCEL
    </a>
  </div>
  </nav>
</form>

{% endblock content-main %}

{% block custom_js %}
<script>
  $('#course_title').disableAutoFill();
  $('#course_sections').disableAutoFill();
  $('#course_number').disableAutoFill();
</script>
{% endblock custom_js %}
