{% extends "base.html" %}
{% load static %}

{% block custom_css %}
<link rel="stylesheet" type="text/css" href="{% static 'courses/styles.css' %}">
{% endblock custom_css %}

{% block title %}
  {{ course }}
{% endblock title %}

{% block content-main %}



<div class="submit-row align-items-center mb-2">
  <div id="course_detail_title">
    <h5>{{ course }}</h5>
  </div>

  <div id="course_detail_actions" class="ml-auto">
    {% if user.user_role == 'FA' %}
    <div>
    <a class="btn btn-secondary" 
       href="{% url 'courses:course-update' course.subject course.slug %}">
      Edit Course
    </a>
    {% endif %}

    {% if user.is_superuser %}
    <div class="modal fade" id="remove-course-modal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="courses-modal-title">{{ course }}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Are you sure you want to remove this course?</p>
          </div>
          <div class="modal-footer">
            <form action="{% url "courses:course-delete" course.subject course.slug %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn btn-raised btn-danger">
                Remove Course
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#remove-course-modal">
     Remove Course 
    </button>
    </div>
    {% endif %}

  </div>
</div>

<div id="course_detail_description">
  <p>{{ course.description }}</p>
</div>

<h6>Course Outcomes</h6>
<div id="id_course_outcomes">
  <ul id="id_outcomes" class="nav flex-column">
    {% if user.is_privileged and course in user.staffprofile.courses.all or user.is_superuser %}
    <a class="btn-dark nav-link mb-1" href="{% url 'outcomes:outcome-create' %}"><i class="fal fa-plus-circle"></i>New Outcome</a>
    {% endif %}
  {% for outcome in course_outcomes %}
    <li class="nav-item">
      <a id="id_outcome_{{ outcome.id }}" class="outcome nav-link" href="javascript:void(0)" data-outcome-media-url="{% url 'courses:ajax-get-outcome-media' %}">
        {{ outcome.title }}
      </a>
    </li>
  {% endfor %}
  </ul>


  <div id="id_outcome_title_description">
    <div id="id_outcome_title">
      <div class="submit-row">
        <div class="mr-auto">
          <h6>{{ latest_outcome.outcome.title }}</h6>
        </div>
        {% if latest_outcome and user.is_authenticated %}
        <a href="{% url 'outcomes:outcome-media-update' latest_outcome.outcome.slug %}">
          <i class="fal fa-upload"></i>
        </a>
        {% if latest_outcome.outcome.author == user or user.is_superuser %}
        <a href="{% url 'outcomes:outcome-update' latest_outcome.outcome.slug %}">
          <i class="fal fa-pencil-alt"></i>
        </a>
        {% endif %}
        {% endif %}
      </div>
    </div>
    <div id="id_outcome_description">
      <p>{{ latest_outcome.outcome.description }}</p>
    </div>
  </div>

  <div id="id_outcome_media">
    <ul class="nav nav-tabs" id="outcome_media_tabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link active"
           id="tab_raw_data"
           href="#raw_data"
           data-toggle="tab"
           role="tab"
           aria-controls="home"
           aria-selected="true">
          Raw Data
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link"
           id="tab_analyzed_data"
           href="#analyzed_data"
           data-toggle="tab"
           role="tab"
           aria-controls="profile"
           aria-selected="false">
           Analyzed Data
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link"
           id="tab_curriculum"
           href="#curriculum"
           data-toggle="tab"
           role="tab"
           aria-controls="contact"
           aria-selected="false">
           Curriculum
        </a>
      </li>
    </ul>

    <div class="tab-content" id="id_outcome_media_content">
      <div class="tab-pane show active" 
           id="raw_data"
           role="tabpanel" 
           aria-labelledby="tab_raw_data">
        <ul>
          {% for raw_data in latest_outcome.raw_data %}
          <li>
            <a href="{{ raw_data.media.url }}">
              {{ raw_data.filename }}
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>

      <div class="tab-pane"
           id="analyzed_data" 
           role="tabpanel"
           aria-labelledby="tab_analyzed_data">
        <ul>
          {% for analyzed_data in latest_outcome.analyzed_data %}
          <li>
            <a href="{{ analyzed_data.media.url }}">
              {{ analyzed_data.filename }}
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>

      <div class="tab-pane"
           id="curriculum"
           role="tabpanel"
           aria-labelledby="tab_curriculum">
        <ul>
          {% for curriculum in latest_outcome.curriculum %}
          <li>
            <a href="{{ curriculum.media.url }}">
              {{ curriculum.filename }}
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>

{% endblock content-main %}

{% block custom_js %}
  <script src={% static 'js/get-outcome-media.js' %} type="text/javascript"></script>
  <script type="text/javascript">
    $("#id_outcomes .outcome").first().addClass("btn-secondary")
    $("#id_outcomes .outcome").click(function(){
        $("#id_outcomes .outcome.btn-secondary").removeClass("btn-secondary");
        $(this).addClass("btn-secondary");
    });
  </script>
{% endblock custom_js %}
