{% extends "courses/subject_list.html" %}
{% load static %}

{% block custom_css %}
<link rel="stylesheet" type="text/css" href="{% static 'courses/styles.css' %}">
{% endblock custom_css %}

{% block title %}
  Courses | SIRIUS
{% endblock title %}


{% if user.is_superuser %}
<div id="course_actions">
  <a class="btn btn-raised btn-primary" href="{% url 'courses:course-create' %}">
    <i class="fas fa-plus-circle"></i>
    Add Course
  </a>
</div>
{% endif %}

{% block custom_js %}
{% endblock custom_js %}
