{% extends "base.html" %}
{% load static %}

{% block custom_css %}
<link rel="stylesheet" type="text/css" href="{% static 'courses/styles.css' %}">
{% endblock custom_css %}

{% block title %}
  Courses | SIRIUS
{% endblock title %}

{% block content-main %}

{% if user.is_superuser %}
<div id="course_actions">
  <a class="btn btn-raised btn-primary" href="{% url 'courses:course-create' %}">
    <i class="fas fa-plus-circle"></i>
    Add Course
  </a>
</div>
{% endif %}

  <div id="course_list" class="list-group align-items-center">
    {% for course in courses %}
    <a class="justify-content-center
              list-group-item
              list-group-item-action
              flex-column align-items-start 
              {% if course.subject == 'GEOL' %} subject-geol
              {% elif course.subject == 'CHEM' %} subject-chem
              {% elif course.subject == 'ENVS' %} subject-envs
              {% elif course.subject == 'BIO' %} subject-bio
              {% elif course.subject == 'CE' %} subject-ce
              {% endif %}"
       href="{{ course.get_absolute_url }}">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{ course }}</h5>
      </div>
    </a>
    {% endfor %}
  </div>

{% endblock %}
