{% extends "base.html" %}
{% load static %}

{% block custom_css %}
<link rel="stylesheet" type="text/css" href="{% static 'courses/styles.css' %}">
{% endblock custom_css %}

{% block title %}
  Courses | SIRIUS
{% endblock title %}

{% block content-main %}

<div id="subject_list" class="list-group">
{% for subject_item in subjects %}
  <a href="{% url 'courses:subject-courses-list' subject_item.0 %}"
     class="justify-content-center
            list-group-item
            list-group-item-action
            flex-column
            {% if subject_item.0 == 'GEOL' %} subject-geol
            {% elif subject_item.0 == 'CHEM' %} subject-chem
            {% elif subject_item.0 == 'ENVS' %} subject-envs
            {% elif subject_item.0 == 'BIO' %} subject-bio
            {% elif subject_item.0 == 'CE' %} subject-ce
            {% endif %}
            {% if subject_item.0 in request.path %}
              active
            {% endif %}">
    <div class="w-100">
      <h6 class="mb-1">{{ subject_item.1 }}</h6>
    </div>
  </a>
{% endfor %}
</div>

{% if user.is_superuser %}
<div id="course_actions" class="mt-3">
  <a class="btn m-0 text-center" href="{% url 'courses:course-create' %}">
    <img class="svg-icon mr-1 mb-1" src="{% static 'img/font-awesome/plus-circle-black.svg' %}">
    Add Course
  </a>
</div>
{% endif %}

{% block course_list %}
<div id="course_list" class="list-group align-items-center">
  {% for course in courses %}
  <a class="justify-content-center
            list-group-item
            list-group-item-action
            flex-column align-items-start 
            {% if course.subject == 'GEOL' %} subject-geol
            {% elif course.subject == 'CHEM' %} subject-chem
            {% elif course.subject == 'ENVS' %} subject-envs
            {% elif course.subject == 'BIO' %} subject-bio
            {% elif course.subject == 'CE' %} subject-ce
            {% endif %}"
     href="{{ course.get_absolute_url }}">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{ course }}</h5>
    </div>
  </a>
  {% endfor %}
</div>
{% endblock course_list %}

{% endblock content-main %}

{% block custom_js %}
<script>
$('#course_list .list-group-item-action').hover(
  function(){ $(this).addClass('active') },
  function(){ $(this).removeClass('active') }
)
</script>
{% endblock custom_js %}
