{% extends "base.html" %}

{% block content %}

{{ current_user }}

{% if user.account_type == 'FA' %}
<div>
<a href="{% url 'users:account-type-update' user.pk %}">
  <button type="button" class="btn">Promote</button>
</a>
</div>
{% endif %}
{% block edit %}
<a href="{% url 'users:account-update' %}">
  <button type="button" class="btn">Edit</button>
</a>
{% endblock edit %}
{% if current_user == user %}
<a href="{% url 'users:password_change' %}">
  <button type="button" class="btn">Change Password</button>
</a>
{% endif %}

{% endblock content %}
