{% extends "base.html" %}

{% block content %}

{{ user_object }}
({{ user_object.get_account_type_display }})

{% if user.account_type == 'FA' %}
<div>
  <a href="{% url 'users:account-type-update' user_object.pk %}">
    <button type="button" class="btn">Promote</button>
  </a>
</div>
{% endif %}

{% block edit %}
<a class="btn" href="{% url 'users:account-update' %}">Edit</a>
{% endblock edit %}

{% if user == user_object %}
<a class="btn" href="{% url 'users:password_change' %}">Change Password</a>
{% endif %}

{% endblock content %}
