{% extends "base.html" %}
{% load static %}

{% block custom_css %}
<link rel="stylesheet" type="text/css" href="{% static 'users/styles.css' %}">
{% endblock %}

{% block title %}
  Account Update | SIRIUS
{% endblock title %}

{% block content-main %}

<form id="user-form"
      class="{% if not user.is_privileged %}student-form{% endif %}"
      method="post" 
      action=""
      novalidate>
  {% csrf_token %}

  <div class="form-row justify-content-between">
    <div class="form-group bmd-form-group col-12 col-lg-6">
      <label for="user-email" class="bmd-label-static">Email Address</label>
      {{ form.email }}
      {{ form.email.errors }}
    </div>

    <div class="form-group bmd-form-group col-12 col-lg-6">
      <label for="user-username" class="bmd-label-static">{{ form.username.label }}</label>
      {{ form.username }}
    </div>
  </div>

  <div class="form-row justify-content-between">
    <div class="form-group bmd-form-group col-12 col-lg-6">
      <label for="user-first-name" class="bmd-label-static">{{ form.first_name.label }}</label>
        {{ form.first_name }}
    </div>

    <div class="form-group bmd-form-group col-12 col-lg-6">
      <label for="user-last-name" class="bmd-label-static">{{ form.last_name.label }}</label>
        {{ form.last_name }}
    </div>
  </div>

  <div class="form-row justify-content-between">
  {% if form.user_role and user.is_privileged %}
    <div class="form-group bmd-form-group col-12 col-lg-6">
      <label for="user-user-type" class="bmd-label-static">{{ form.user_role.label }}</label>
        {{ form.user_role }}
    </div>
  {% endif  %}
  </div>

  {% if form.instance.is_privileged and form.instance.staffprofile %}
  <div class="form-group bmd-form-group">
    <label for="mysirius-courses" class="bmd-label-static">MySIRIUS Courses</label>
    {% if staffprofile_form %}
    <div class="modal fade" id="add-courses-modal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="courses-modal-title">Courses</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <small>Select the courses you are currently teaching:</small>
            {{ staffprofile_form.courses }}
          </div>
          <div class="modal-footer">
            <button id="user-courses-submit" 
                    type="Submit" 
                    name="_mysirius_courses_submit"
                    class="btn btn-primary">
              Save changes
            </button>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
    <div id="mysirius-courses-row">
      <div id="mysirius-courses" class="list-group">
        {% for course in users_courses %}
        <a class="justify-content-center
                  list-group-item
                  list-group-item-action
                  flex-column 
                  align-items-start
                {% if course.subject == 'GEOL' %} subject-geol
                {% elif course.subject == 'CHEM' %} subject-chem
                {% elif course.subject == 'ENVS' %} subject-envs
                {% elif course.subject == 'BIO' %} subject-bio
                {% elif course.subject == 'CE' %} subject-ce
                {% endif %}"
           href="{{ course.get_absolute_url }}">
          <div class="d-flex w-100 justify-content-between">
            <h6>{{ course }}</h6>
          </div>
        </a>
        {% endfor %}
      </div>
    </div>
  </div>
  {% if staffprofile_form %}
    {% if user.user_role == 'FA' %}
    <a href="javascript:void(0)"
       class="ml-auto btn p-0"
       id="user-courses-button" 
       data-toggle="modal"
       data-target="#add-courses-modal">
      Add/Remove Courses
    </a>
    {% endif %}
  {% endif %}
  {% endif  %}
  <div class="submit-row mt-auto">
    <input class="btn btn-raised btn-primary col-lg-2 col-3" type="Submit" value="Save" name="_submit">
    <div>
      {% if user.is_superuser and form.instance != user or form.instance == user %}
      <a class="btn" 
         href="javascript:void(0)"
         data-toggle="modal" 
         data-target="#deactivate-account-modal">
        {% if form.instance.is_active %}
        Deactivate {% if user == form.instance %}Account{% else %}User{% endif %}
        {% else %}
          Activate {% if user == form.instance %}Account{% else %}User{% endif %}
        {% endif %}
      </a>
      <div class="modal fade" id="deactivate-account-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">
                {% if form.instance.is_active %}Deactivate{% else %}Activate{% endif %} Account</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              {% if form.instance == user %}
              <p>You will be logged out and lose access to 
                your account unless an administrator reactivates it.</p>
              {% elif form.instance.is_active %}
              <p>The user will be logged out and lose access to their account until it is reactivated</p>
              <p>Confirm deactivation by clicking 'Deactivate' or close the popup to cancel.</p>
              {% else %}
              <p>Confirm activation by clicking 'Activate' or close the popup to cancel.</p>
              {% endif %}
            </div>
            <div class="modal-footer">
              {% if form.instance.is_active %}
              <input type="submit" class="btn btn-raised btn-danger" value="Deactivate" name="_deactivate_user" />
              {% else %}
              <input type="submit" class="btn btn-raised btn-danger" value="activate" name="_activate_user" />
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      {% endif %}
      {% if form.instance == user %}
      <a class="btn" href="{% url 'users:password_change' %}">Change Password</a>
      {% endif %}
    </div>
  </div>
</form>

{% endblock content-main %}

{% block custom_js %}
<script>
  function get_selected_courses() {
      var selected_courses = [];

      $('#sirius-courses').find(':selected').each(function() {
            selected_courses.push($(this).text())
      })
      return selected_courses
  }

  $(document).ready(function()
  {
      var saved_courses = get_selected_courses();

      $('#sirius-courses option').click(function(e)
      {
          var course_option = $(this);
          var course_option_is_selected = course_option.prop('selected');
          var course_id = course_option.text();

          if (course_option_is_selected) {
            if (saved_courses.includes(course_id)) {
                $('#mysirius-courses').append(
                  '<a class="justify-content-center list-group-item list-group-item-action flex-column align-items-start"><div class="d-flex w-100 justify-content-between"><h6>'+ course_id +'</h6></div></a>'
                );
            }
            else {
                $('#mysirius-courses').append(
                  '<a class="unsaved-course justify-content-center list-group-item list-group-item-action flex-column align-items-start"><div class="d-flex w-100 justify-content-between"><h6>'+ course_id +'</h6></div></a>'
                );
            }
          }
          else {
              var selector = $('#mysirius-courses a:contains(' + course_id + ')')
              $(selector).remove();
          }
      });
  });

  // prevents need for holding ctrl to select multiple elements in courses modal
  $("#sirius-courses").mousedown(function(e){
      e.preventDefault();

      var select = this;
      var scroll = select .scrollTop;

      e.target.selected = !e.target.selected;

      setTimeout(function(){select.scrollTop = scroll;}, 0);

      $(select ).focus();
  }).mousemove(function(e){e.preventDefault()});


  $('#add-courses-modal').on('shown.bs.modal', function (e) {
      $('#add-courses-modal').on('click', '#user-courses-submit', function (e) {
          $('#user-form').submit(function(e) {
              e.preventDefault();
              var form = $(this)

              $('#add-courses-modal').modal('hide')

              $('#add-courses-modal').on('hidden.bs.modal', function (e) {
                form.unbind('submit').submit();
              });
          });
      });
  });
  

  $(document).on('click', '#user-courses-button', function() {
      $('.alert').alert('close');
  });
  $('select').change(function() {
      $('.alert').alert('close');
  });
</script>

<script type="text/javascript">
  $('#user-email').disableAutoFill();
  $('#user-username').disableAutoFill();
  $('#user-firstname').disableAutoFill();
  $('#user-lastname').disableAutoFill();
</script>

{% endblock custom_js %}
