{% extends "base.html" %}
{% load static %}

{% block custom_css %}
<link rel="stylesheet" type="text/css" href="{% static 'users/styles.css' %}">
{% endblock %}

{% block content %}

<form id="user-form" method="post" action="">
  {% csrf_token %}

  <div class="form-group">
    <label for="user_email" class="control-label bmd-label-static">Email Address</label>
    {{ form.email }}
    {{ form.email.errors }}
  </div>

  <div class="form-group">
    <label for="user_username" class="control-label bmd-label-static">Username</label>
    {{ form.username }}
  </div>

  <div class="form-row col-12 justify-content-between">
    <div class="form-group col-5">
        <label for="user_first_name" class="bmd-label-static">First Name</label>
        <div class="form-row">
          {{ form.first_name }}
        </div>
    </div>
    <div class="form-group col-5">
        <label for="user_last_name" class="bmd-label-static">Last Name</label>
        <div class="form-row">
          {{ form.last_name }}
        </div>
    </div>
  </div>

  {% if form.user_type %}
  <div class="form-row col-12">
    <div class="form-group col-12">
      <div class="form-row">
      <label for="course_description" class="bmd-label-static">User Type</label>
        {{ form.user_type }}
      </div>
    </div>
  </div>
  {% endif  %}

  <input class="btn btn-raised" type="Submit" value="Save">
</form>

{% endblock content %}
