{% extends "base.html" %}
{% load static %}


{% block custom_css %}
<link rel="stylesheet" type="text/css" href="{% static 'users/styles.css' %}">
{% endblock %}

{% block title %}
  Users | SIRIUS
{% endblock title %}

{% block content-header %}
  {% url 'users:user-search-results' as user_search_results_url %}
<div id="user_search_bar">
  <form method="GET" action="{{ user_search_results_url }}" id="user_search_form" class="custom-validation" novalidate>
    <div class="form-group form-row col">
      <input required type="text" 
            value="{% if user_search_results_url in request.path %}{{ request.GET.user_query }}{% endif %}" 
            id="user_search_input" 
            name="user_query" 
            placeholder="Search Users">
    <button class="btn bmd-btn-icon btn-search" for="search">
      <svg width="13" height="13" viewBox="0 0 13 13"><title>search</title><path d="m4.8495 7.8226c0.82666 0 1.5262-0.29146 2.0985-0.87438 0.57232-0.58292 0.86378-1.2877 0.87438-2.1144 0.010599-0.82666-0.28086-1.5262-0.87438-2.0985-0.59352-0.57232-1.293-0.86378-2.0985-0.87438-0.8055-0.010599-1.5103 0.28086-2.1144 0.87438-0.60414 0.59352-0.8956 1.293-0.87438 2.0985 0.021197 0.8055 0.31266 1.5103 0.87438 2.1144 0.56172 0.60414 1.2665 0.8956 2.1144 0.87438zm4.4695 0.2115 3.681 3.6819-1.259 1.284-3.6817-3.7 0.0019784-0.69479-0.090043-0.098846c-0.87973 0.76087-1.92 1.1413-3.1207 1.1413-1.3553 0-2.5025-0.46363-3.4417-1.3909s-1.4088-2.0686-1.4088-3.4239c0-1.3553 0.4696-2.4966 1.4088-3.4239 0.9392-0.92727 2.0864-1.3969 3.4417-1.4088 1.3553-0.011889 2.4906 0.45771 3.406 1.4088 0.9154 0.95107 1.379 2.0924 1.3909 3.4239 0 1.2126-0.38043 2.2588-1.1413 3.1385l0.098834 0.090049z"></path></svg>
    </button>  
    {% block back_navigate %}
    {% endblock back_navigate %}
    </div>
  </form>
</div>
{% endblock %}

{% block content-main %}


<table class="sortable" id="users_table">
  <thead>
    <tr>
      <th><span>Username <img class="svg-icon" src="{% static 'img/font-awesome/sort.svg' %}"></span></th>
      <th><span>First Name <img class="svg-icon" src="{% static 'img/font-awesome/sort.svg' %}"></span></th>
      <th><span>Last Name <img class="svg-icon" src="{% static 'img/font-awesome/sort.svg' %}"></span></th>
      <th><span>User Role <img class="svg-icon" src="{% static 'img/font-awesome/sort.svg' %}"></span></th>
    </tr>
  </thead>
  <tbody>
  {% for a_user in users %}
  <tr class="user-link" data-href='{{ a_user.get_absolute_url }}'>
      <td><a href="{{ a_user.get_absolute_url }}">{{ a_user }}</a></td>
      <td>{{ a_user.first_name }}</td>
      <td>{{ a_user.last_name }}</td>
      <td>{{ a_user.get_user_role_display }}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>

{% if is_paginated %}
  {% include 'partials/paginator.html' %}
{% endif %}

{% endblock content-main %}

{% block custom_js %}
<script type="text/javascript">
  jQuery(document).ready(function($) {
      $(".user-link").click(function() {
          window.location = $(this).data("href");
      });
  });
</script>

<script src="{% static 'js/jquery.sortElements.js' %}"></script>
{% endblock custom_js %}

