@media screen and (-webkit-min-device-pixel-ratio:0) {
    .select-fix-height {
        height: 34px !important;
        line-height: 34px !important;
        padding-bottom: 0;
        padding-top: 0;
    }
}
@-moz-document url-prefix() {
    .select-fix-height {
        height: 31px !important;
        padding-bottom: 0px;
        padding-top: 0;
    }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .select-fix-height {
        height: 36px !important;
        line-height: 36px !important;
    }
}

body, html {
    height: 100%;
}
body {
    padding-top: 15vh;
}

#container {
    position:fixed;
}

form {
    height: 70vh;
}

.navbar-submit {
    position: fixed;
    height:11vh;
    bottom:0;
    margin:0;
    padding:0;
}
